/* PHASE 1: Header */
body {
  font-family: Roboto;
  font-size: 16px;
}

.header {
  background: #f00;
  color: white;
  border-bottom: 1px solid #ccc;
}

.header-nav {
  display: flex;
  flex-flow: row wrap;
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  justify-content: flex-start;
  display: block;
  font-weight: 700;
  padding: 10px 20px;
  border-right: 1px solid #ccc;
}

.header-list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.header-list li {
  float: left;
  padding: 10px 20px;
  border-left: 1px solid #ccc;
}

.header h1:hover {
  background-color: black;
}

.header li:hover {
  cursor: pointer;
  background-color: black;
}
